<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>421023492131-nmjca5fti2rba4ut8dl3qcnemn8ruhsh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.421023492131-nmjca5fti2rba4ut8dl3qcnemn8ruhsh</string>
	<key>API_KEY</key>
	<string>AIzaSyBIwjPCJsjW059m1-RhpBXDZysVO2kaZcM</string>
	<key>GCM_SENDER_ID</key>
	<string>421023492131</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.capstone</string>
	<key>PROJECT_ID</key>
	<string>capstone-flutter-eb3c2</string>
	<key>STORAGE_BUCKET</key>
	<string>capstone-flutter-eb3c2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:421023492131:ios:9ef086f6c587d57033e996</string>
</dict>
</plist>